*{
  margin: 0;
  padding: 0;
}

body{
  background-color: aqua;
}

#myTime{
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20%;
}
.heading{
  color: blueviolet;
}
.timing{
  color: green;
}